In [20]:
# Import modules

import numpy as np
import pandas as pd

# Create dataframe
df = pd.DataFrame()

# Create list for Location
location_list = np.random.choice(['Dublin', 'South-West', 'Mid-West','Mid-East', 'Midlands', 'South-East', 'West', 'Border'], 100, p=[0.43, 0.15, 0.07, 0.07, 0.07, 0.07, 0.07, 0.07])

df['location'] = location_list

# Create list for Grade
grade_list = np.random.choice(['H1', 'H21', 'H22','H3'], 100, p=[0.20, 0.50, 0.20, 0.10])

df['grade'] = grade_list

# Add to intro the actual expected outcome - i.e. expected salaries across new grads based on grade, location and course...

# Create list for Course
course_list = np.random.choice(['ICT', 'Eng', 'HW','Arts','Agr','Soc'], 100, p=[0.20, 0.20, 0.20, 0.10, 0.20, 0.10])

df['course'] = course_list

# Now need to work out how to calculate salary based on course, grade and location!!!
# # If course = 'ICT' and grade = 'H1' and location = 'Galway' then...
# Or maybe, add random salary, then update up/down based on course/location/grade
# Or maybe, add average salary, then update up/down based on course/location/grade
# Maybe...add random distributed salaries by course, then adjust up/down based on grade and then location

# OR maybe create individual dfs per course or per something else... 

# Could be lazy and just create a random salary based on the the high and low values we have!!!

# Check this link
# https://www.dataquest.io/blog/tutorial-add-column-pandas-dataframe-based-on-if-else-condition/

In [14]:
df

      location grade course
0       Dublin   H21    Soc
1     Midlands   H21    Agr
2     Midlands   H22    Eng
3       Border   H21    Eng
4         West    H1     HW
..         ...   ...    ...
95  South-East   H22    Agr
96  South-West   H21   Arts
97      Border    H3    Eng
98      Dublin    H1    ICT
99    Mid-East   H22    Eng

[100 rows x 3 columns]